.button {
    background-color: #E50914;

    color: white;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 16px;
    
    margin: 4px 2px;
    cursor: pointer;
    
    border-radius: 50%;
}

.swiper {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    border: 1px solid #0a0a0a;

    background-color: white;
    padding: 16px;
    border-radius: 16px;
}

.swiper img {
    width: 100%;   
}

.swiper__controls {
    display: flex;
    justify-content: space-between;
}
