ul {
    margin: 0;
    padding: 0;
}

.nav-logo {
    width: 110px;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #141414;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 64px;
}

.button {
    display: none;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul {
    list-style: none;
    margin: 16px 0;
}

.nav-links ul li {
    display: inline;
    padding: 0 16px;
}

.nav-links a {
    text-decoration: none;
    color: #e5e5e5;
}

@media (max-width: 768px) {
    .nav-header {
        flex-grow: 1;
        width: 100%;
    }

    .navbar {
        padding: 0 32px;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 8px;
    }

    .button {
        display: block;

        color: #fff;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
    }

    .nav-links ul li {
        display: block;
        padding: 8px 0;
    }

    .hide {
        height: 0px;
        overflow: hidden;
        transition: height 0.3s ease;
    }

    .show {
        height: 150px;
        transition: height 0.3s ease;
        overflow: hidden;
        background-color: #141414;
    }
}
